name: Documentation

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:
permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.x

      - name: Install DocFX
        run: dotnet tool install -g docfx

      - name: Build Documentation
        # On lance le build dans le dossier docs/ créé précédemment
        run: docfx docs/docfx.json

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/_site # Le dossier généré par DocFX
          force_orphan: true